# Fake News Classifier

### Data Reading and Interpretation

__Import Statements__

In [2]:
import pandas as pd
import numpy as np

In [3]:
train_df = pd.read_csv("../data/raw/train.csv")

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [24]:
train_df["author"].value_counts().value_counts()#.to_csv("temp.csv")

1      2615
2       475
3       217
4       155
5       109
       ...
72        1
60        1
65        1
63        1
243       1
Name: author, Length: 89, dtype: int64

In [40]:
train_df.query("author == 'Guest'")["label"].value_counts()

1    39
Name: label, dtype: int64

In [82]:
# train_df.query("author.notnull()")["label"].value_counts()
# train_df.query("author.notnull()")[train_df.query("author.notnull()")["author"].str.contains("^[A-Z ]+$")]["label"].value_counts()
train_df.query("text == ' '")["label"].value_counts()

1    75
Name: label, dtype: int64

In [65]:
train_df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [9]:
train_df.describe(include='all')

,id,title,author,text,label
count,20800.000000,20242,18843,20761,20800.000000
unique,NaN,19803,4201,20386,NaN
top,NaN,Get Ready For Civil Unrest: Survey Finds That ...,Pam Key,,NaN
freq,NaN,5,243,75,NaN
mean,10399.500000,NaN,NaN,NaN,0.500625
std,6004.587135,NaN,NaN,NaN,0.500012
min,0.000000,NaN,NaN,NaN,0.000000
25%,5199.750000,NaN,NaN,NaN,0.000000
50%,10399.500000,NaN,NaN,NaN,1.000000
75%,15599.250000,NaN,NaN,NaN,1.000000
max,20799.000000,NaN,NaN,NaN,1.000000

### Preprocessing

In [ ]:
## Others category if value_counts of an author is less than 5

In [ ]:
## Change Author = Null to Author = "Unknown"

In [93]:
## Create a feature "author_is_null"

In [ ]:
## Create a feature "multiple_authors"

# train_df.query("author.notnull()")[train_df.query("author.notnull()")["author"].str.contains(" and ")]["label"].value_counts()

In [ ]:
## Rows with .com/.org/etc

# train_df.query("author.notnull()")[train_df.query("author.notnull()")["author"].str.contains("\.[a-zA-Z]{3}")]["label"].value_counts()

In [92]:
## Check if text is empty

train_df.query("text == ' '")["label"].value_counts()

1    75
Name: label, dtype: int64

#### Feature Engineering

### Modelling

### Prediction and Results